.container{
    position: static;
    width: auto;
    margin: auto;
}

.container_two{
    margin: auto;
    width: 80%;
    display: block;
}

.error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.search{
    float: left;
    display: block;
    text-align: center;
    margin: auto;
}

@media (min-width:1200px) {
    .container{
        margin: auto;
        width: 900px;
        display: block;
    }
}